body {
	font-family: "Helvetica" sans-serif;
	font-size: 10pt;
}

#no-items {
	display: none;
}

ul.tasklist {
	list-style-type: none;
	color: #ECF0F1;
	margin: 0px;
}

ul.tasklist li {
	margin: 0px;
	padding: 7px;
	position: relative;
}

ul.tasklist li.task-active {
	background-color: #3498DB;
}

ul.tasklist li.task-started {
	background-color: #F39C12;
}

ul.tasklist li .taskname {
	padding-right: 21px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.tasklist li .link {
	position: absolute;
	top: 7px;
	right: 7px;
	visibility: hidden;
}

.startstop {
	display:none;
}
