body {
	font-family: "Helvetica" sans-serif;
	font-size: 10pt;
}

#no-items {
	display: none;
}

ul.tasklist {
	list-style-type: none;
	color: #ECF0F1;
	margin: 0px;
}

ul.tasklist li {
	margin: 0px;
	padding: 7px;
	position: relative;
}

ul.tasklist li.task-active {
	background-color: #3498DB;
}

ul.tasklist li.task-started {
	background-color: #F39C12;
}

.taskname {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.tasklist li .taskname {
	padding-right: 35px;
}

ul.tasklist li .link {
	position: absolute;
	top: 7px;
	right: 7px;
	visibility: hidden;
}

i.rpad {
	margin-right: 3px;
}

div#taskdetail-panel div#taskdetail-name {
	position: relative;
	padding: 7px;
	margin: 0px;
}

div#taskdetail-panel div#taskdetail-name .link {
	position: absolute;
	top: 7px;
	left: 7px;
}

div#taskdetail-panel div#taskdetail-name #taskname {
	padding-left: 21px;
}

div.meterwrapper {
	height: 24px;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin-top: 14px;
	background-color: #34495E;
	display: none;
	position: relative;
}

div.meterwrapper div.meter-active {
	position: absolute;
	top: 0px;
	width: 0%;
	height: 100%;
}

div.meterwrapper div.meter-active-spent {
	background-color: #8E44AD;
}

div.meterwrapper div.meter-active-block {
	background-color: #C0392B;
}

div.meterwrapper div.meter-text {
	position: absolute;
	line-height: 24px;
	width: 100%;
	top: 0px;
	background-color: transparent;
	color: #ECF0F1;
	text-align: center;
}

div#taskdetail-panel {
	display: none;
}

.startstop {
	display:none;
}
