ul.tasklist {
	list-style:none outside none;
}

ul.tasklist li {
	line-height: 18px;
	position: relative;
	padding-bottom: 5px;
}

ul.tasklist li label {
	position: absolute;
	left: 25px;
	top: 0px;
}

span.taskdone-true {
	text-decoration: line-through;
	color: grey;
}

body {
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
