span.done-true {
	text-decoration: line-through;
	color: grey;
}

ul.tasklist {
	list-style:none outside none;
}

ul.tasklist li {
	padding-bottom: 10px;
}

div.task {
	float: none;
	clear: both;
}

div.task div.icheckbox_minimal-green {
	float:left;
}

div.task label {
	padding-left: 5px;
	padding-bottom: 10px;
	float: left;
}

span.taskdone-true {
	text-decoration: line-through;
	color: grey;
}

body {
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
