ul.tasklist {
	list-style:none outside none;
}

ul.tasklist li {
	line-height: 22px;
	position: relative;
	padding-bottom: 10px;
}

ul.tasklist li label {
	line-height: 22px;
	position: absolute;
	left: 30px;
	top: 0px;
}

span.taskdone-true {
	text-decoration: line-through;
	color: grey;
}

body {
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	padding-top: 60px;
}
